/* reset */
* {
    margin: 0;
    padding: 0;
}
body {
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #eeeeeeee;
}
/* titre */
.titre {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.titre h2 {
    margin-right: 0.5rem;
}
.titre span {
    height: 2px;
    background-color: #ddd;
    width: 100%;
}
.titre i {
    margin-left: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 1rem;
}

/***************** SEARCH FORM ****************/
.search-form {
    display: flex;
    flex-direction: column;
    color: #555;
}
.search-form > p {
    font-size: 1.5em;
    margin-bottom: 30px;
}
.search-form > p > a {
    color: #268ad2;
    text-decoration: none;
}
.search-form > .search {
    position: relative;
    display: flex;
    align-items: center;
}
.search-form > .search > input {
    padding: 20px 130px 20px 20px;
    border: 2px solid #20dc88;
    border-radius: .5em;
    box-shadow: 0 0 5px 0px #ddd;
    width: 100%;
    color: #444;
    font-size: 1.2em;
}
.search-form > .search > button {
    position: absolute;
    right: 10px;
    background-color: #20dc88;
    border: none;
    padding: 10px 15px;
    border-radius: .3em;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}
.search-form > .search > button:hover {
    background-color: #14cb78;
}
