/* reset */
* {
    margin: 0;
    padding: 0;
}
body {
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
/* titre */
.titre {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.titre h2 {
    margin-right: 0.5rem;
}
.titre span {
    height: 2px;
    background-color: #ddd;
    width: 100%;
}
.titre i {
    margin-left: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 1rem;
}
/* btn */
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    text-decoration: none;

    margin: 0 10px;
}
.btn-round {
    border: 1px solid #555;
    border-radius: 10rem;
    color: #555;
}
.btn-round:hover {
    background-color: #f1f1f1;
    border-color: #aaa;
    color: #333;
}
.btn-green {
    background-color: #1edd87;
    color: #fff;
    border-radius: 5px;
}
.btn-green:hover {
    background-color: #14cb78;
}
.btn-blue {
    color: #fff;
    border: 1px solid #1061c4;
    border-radius: 5px;
    background: linear-gradient(#157ffb, #1061c4);
}
.btn-blue:hover {
    background: #157ffb;
}
